/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12.02.2020, 15:09:38
    Author     : m
*/

.hover:hover{
    background-color: #007bff;
    /*background-color:#17a2b8;*/
    color: white;
    
}